{% load static %} 
    <!-- SCRIPTS --> 
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>  
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
        <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/form-validator.min.js' %}"></script>
        <script src="{% static 'js/contact-form-script.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/odometer.min.js' %}"></script>
        <script src="{% static 'js/jquery.appear.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>